.tree-input {
  color: var(--font-c);
  width: 100%;
  position: relative;
  background: rgba(180, 180, 200, 0.12);
  border-radius: 2px;
  display: flex;
  align-items: center;

  &:hover:not(.tree-input--active) {
    background: var(--theme-bg-2);
  }

  &__label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0.5rem;
    transition-duration: 0.3s;
    transition-property: font-size, top, left;
  }

  &__input {
    border: none;
    background: none;
    outline: none;
    font: inherit;
    padding: 0.5rem 0.75rem;
    width: 100%;
  }

  &--active {
    .tree-input__label {
      top: 0;
      left: 0.75rem;
      font-size: 0.7em;
    }
  }
}