.menu {
  position: fixed;
  z-index: 10;
  background: var(--theme-bg-2);
  color: var(--font-c);
  border-radius: 0.15rem;
  box-shadow: 0 1px 1px rgba(180, 180, 200, 0.12),
    0 2px 2px rgba(180, 180, 200, 0.12), 0 4px 4px rgba(180, 180, 200, 0.12),
    0 8px 8px rgba(180, 180, 200, 0.12), 0 16px 16px rgba(180, 180, 200, 0.12);

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0.15rem 0;
  }

  &__item {
    cursor: pointer;
    padding: 0.25rem 1rem;
    border-bottom: 1px solid rgba(180, 180, 200, 0.12);
    text-align: left;
    &:last-of-type {
      border-bottom: none;
    }
    &:hover {
      background: var(--item-bg);
    }
  }
}
