.tree-item {
  position: relative;
  background: var(--item-bg);
  color: var(--font-c);
  font-weight: 500;
  padding: 0 1rem;
  border-radius: 0.15rem;
  box-shadow: 0 1px 1px rgba(var(--item-shadow-rgb), 0.11),
    0 2px 2px rgba(var(--item-shadow-rgb), 0.11), 0 4px 4px rgba(var(--item-shadow-rgb), 0.11),
    0 6px 8px rgba(var(--item-shadow-rgb), 0.11), 0 8px 16px rgba(var(--item-shadow-rgb), 0.11);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;

  transition-duration: 0.3s;
  transition-property: transform, box-shadow;
  backface-visibility: hidden;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 1px 1px 1px rgba(var(--item-shadow-rgb), 0.15),
      0 2px 2px 1px rgba(var(--item-shadow-rgb), 0.14),
      0 4px 4px 1px rgba(var(--item-shadow-rgb), 0.13),
      0 6px 8px 1px rgba(var(--item-shadow-rgb), 0.12),
      0 8px 16px 1px rgba(var(--item-shadow-rgb), 0.11);
  }
  &:active {
    transform: scale(1);
  }

  &__icon {
    color: var(--item-accent);
    .svg-inline--fa {
      font-size: 2rem;
    }
    padding: 1rem 0;
  }
}

.catalog {
  position: relative;

  &--target {
    &::before {
      content: "";
      position: absolute;
      top: -2px;
      bottom: calc(-2px + 1rem);
      right: -2px;
      left: -2px;
      border: 2px solid var(--item-accent);
      border-radius: 4px;
    }
  }

  &__children {
    //padding: 1rem 0 0 2rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    // gap: 1rem;
  }
}
