.app {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  background: var(--app-bg);
  overflow: auto;

  &__header {
    padding: 3.5rem 15vw;
    padding-right: 12.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: var(--contrast);
      line-height: 1em;
      font-size: 3rem;
    }

    .theme-btn {
      all: unset;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      background-color: var(--header-btn-bg);
      color: rgb(var(--header-btn-rgb));
      //color: #a7c8fb;
      box-shadow: 0 0 10px -1px rgba(var(--header-btn-shadow-rgb), 0.5);
      transition-duration: 0.3s;
      transition-property: transform, box-shadow;

      &:hover {
        transform: scale(1.08);
        box-shadow: 0 0 10px 1px rgba(var(--header-btn-shadow-rgb), 0.5);
      }
    }

    .theme-icon {
      position: absolute;
      opacity: 0;
      transition: opacity 0.3s;

      &--visible {
        opacity: 1;
      }
    }
  }
}
