* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --app-bg: linear-gradient(#fff 12rem, #d8e8ff);
  --header-btn-bg: white; 
  --header-btn-rgb: 45, 80, 125;
  --header-btn-shadow-rgb: 45, 80, 125;
  --tree-bg: white;
  --theme-bg-2: #fbfdff;
  --item-bg: #eff6ff;
  --item-accent: #c1c1c1;
  --item-shadow-rgb: 200, 200, 200;
  --font-c: #484848;
  --tree-shadow: 0 0 1px rgba(45, 80, 125, 0.05), 0 0 2px rgba(45, 80, 125, 0.05),
  0 0 4px rgba(45, 80, 125, 0.05), 0 0 8px rgba(45, 80, 125, 0.05),
  0 0 16px rgba(45, 80, 125, 0.05), 0 0 32px rgba(45, 80, 125, 0.05),
  0 0 64px rgba(45, 80, 125, 0.05);
}

